.square {
  background-color: rgba(0, 0, 0, 0.4);
  text-align:center;
  border: solid white;
  color: white;
  font-size: 24px;
  height:250px;
  margin-top: 80%;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.square:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

span {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mys {
  background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../../../../assets/img/architektura/wnetrza/myslowice.webp') center center;
  background-size: cover;
}

#tych {
  background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../../../../assets/img/architektura/wnetrza/tychy.webp') center center;
  background-size: cover;
}

#glb {
  background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../../../../assets/img/architektura/wnetrza.webp') center center;
  background-size: cover;
}

#ust {
  background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../../../../assets/img/architektura/wnetrza/ustron.webp') center center;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .square {
    margin-top: 5%;
    margin-bottom: 3%;
  }
}
