@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#main {
  text-align: center;
  margin-top: 12%;
}

body {
  background: url('/assets/img/background_offline.webp') no-repeat center center fixed;
  -webkit-overflow-scrolling: touch;
  background-size: cover;
  min-height: 100%;
  overflow-x: hidden;
}

.rspn {
  max-width: 100%;
  height: auto;
}

